<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphX" version="2.0.2" targetFramework="net451" />
  <package id="MathNet.Numerics" version="3.0.2" targetFramework="net451" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net451" />
  <package id="Sanford.MidiToolkit" version="5.0.2" targetFramework="net451" />
  <package id="YAXLib" version="2.13" targetFramework="net451" />
</packages>